<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <title>rumbabacake | макарон "4 штуки"</title>
    <meta charset="utf-8">
    <meta name="keywords" content="мой сайт, html, rumbabacake, торты на заказ, торты, пирожные">
    <meta name="description" content="html, rumbabacake, торты на заказ, торты, пирожные">
    <link rel="shortcut icon" href="https://sun9-76.userapi.com/impg/NRBCmXXjP2-j9qUZTQ_DChapf0Ahu2eAtOp6iA/x7EKdLXAWDM.jpg?size=1170x1295&quality=95&sign=36ecee4aa0fdf13beab27857aa2fe212&type=album">
    <link rel="stylesheet" href="style_IT17.css" type="text/css"/>
    <link rel="stylesheet" href="style_IT17.css">
    <header>
      <div class="All_header_menu" style="display: flex">
        <div class="telephone_zakaz" style=",margin-left: 0px; margin-top: 23px">
          <h5>+7 (985) 123-28-16</h5>
          <h5>заказ по телефону</h5>
        </div>
        <div class="Logo" style="margin-left: 410px">
          <a href="index4.html"><h1>rumbabacake</h1></a>
          <a href="index4.html"><h5 class="undername">~ кондитерские изделия на заказ ~</h5></a>
        </div>
        <div class="korzina">
          <a href="korzina.html">
            <img src="trolley-cart.png" height="60px" width="60px" style="margin-top: 25px; margin-left: 520px">
          </a>
        </div>
      </div>
    </header>
  </head>

  <body>
    <div class="Top_menu">
      <ul class="spisok">
        <li><a href="index.html">торты</a></li>
        <li><a href="index3.html">пирожные</a></li>
        <li><a href="index4.html">макарон</a></li>
        <li><a href="index5.html">контакты</a></li>
        <li><a href="index6.html">доставка и самовывоз</a></li>
      </ul>
    </div>
    <div class="field_IT17">
      <div class="photo_tov">
        <img src="makaron4.jpg" class="makaron1">
        <p style="font-family: cursive; font-weight: bolder; font-size: 50px; margin-left: 200px; margin-top: 15px; color: black;">390 ₽</p>
        <p style="font-family: cursive; font-weight: bolder; font-size: 30px; margin-left: 105px; margin-top: 25px; color: white; background-color: red; width: 305px; padding-left: 20px; border-radius: 15px; padding-bottom: 20px">добавить в корзину</p>
      </div>
      <div class="describe">
        <p style="font-size: 30px; margin-left: 170px; font-weight: bolder; font-family: cursive; color: red">макарон "4 штуки"</p>
        <br><p style="font-size: 30px; margin-left: 165px; font-weight: lighter; font-family: cursive; color: red">Описание и состав:</p>
        <br><p style="font-size: 20px; font-weight: bolder; font-family: cursive">Макарон – это французское кондитерское изделие из яичных белков, сахара и молотого миндаля. Наши макароны ручной работы – мягкие, с гладкой поверхностью, такие вкусные, что тают во рту. Разнообразны по вкусу и начинке.</p>
        <p style="font-size: 20px; font-weight: bolder; font-family: cursive">Состав: масло сливочное 82,5%, мука миндальная, сахар песок, сахарная пудра, сливки, сыр креметта, яйцо куриное.</p>
        <br><p style="font-size: 25px; margin-left: 150px; font-weight: lighter; font-family: cursive; color: red">Энергетическая ценность:</p>
        <br><p style="font-size: 20px; margin-left: 100px; font-weight: bolder; font-family: cursive;">в 100 г продукта:  380 кДж /100 ккал.</p>
        <br><p style="font-size: 25px; margin-left: 185px; font-weight: lighter; font-family: cursive; color: red">Пищевая ценность:</p>
        <br><p style="font-size: 20px; font-weight: bolder; font-family: cursive; margin-right: 10px;">В 100 г продукта: белки — 1 г,
жиры — 3 г, углеводы — 17 г.</p>
        <br><p style="font-size: 20px; font-weight: bolder; font-family: cursive">* Страна производитель — Россия</p>
    </div>
  </div>
</body>
</html>
