<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <title>rumbabacake | пирожные на заказ</title>
    <meta charset="utf-8">
    <meta name="keywords" content="мой сайт, html, rumbabacake, торты на заказ, торты, пирожные">
    <meta name="description" content="html, rumbabacake, торты на заказ, торты, пирожные">
    <link rel="shortcut icon" href="https://sun9-76.userapi.com/impg/NRBCmXXjP2-j9qUZTQ_DChapf0Ahu2eAtOp6iA/x7EKdLXAWDM.jpg?size=1170x1295&quality=95&sign=36ecee4aa0fdf13beab27857aa2fe212&type=album">
    <link rel="stylesheet" href="style3.css" type="text/css"/>
    <link rel="stylesheet" href="style3.css">
    <header>
      <div class="All_header_menu" style="display: flex">
        <div class="telephone_zakaz" style=",margin-left: 0px; margin-top: 23px">
          <h5>+7 (985) 123-28-16</h5>
          <h5>заказ по телефону</h5>
        </div>
        <div class="Logo" style="margin-left: 410px">
          <h1>rumbabacake</h1>
          <h5 class="undername">~ кондитерские изделия на заказ ~</h5>
        </div>
        <div class="korzina">
          <a href="korzina.html">
            <img src="trolley-cart.png" height="60px" width="60px" style="margin-top: 25px; margin-left: 520px">
          </a>
        </div>
      </div>
    </header>
  </head>

  <body>
    <div class="Top_menu">
      <ul class="spisok">
        <li><a href="index.html">торты</a></li>
        <li><a href="index3.html">пирожные</a></li>
        <li><a href="index4.html">макарон</a></li>
        <li><a href="index5.html">контакты</a></li>
        <li><a href="index6.html">доставка и самовывоз</a></li>
      </ul>
    </div>
    <div class="Ikonka_tovara9">
      <a href="index_IT9.html">
        <img src="pirozhnoe1.jpg" class="pirozhnoe1">
        <p style="font-family: cursive; font-weight: bolder; font-size: 18px; text-align: center; color: white;">пирожное "Кремовое"</p>
        <p style="font-family: sans-serif; font-weight: bolder; font-size: 24px; margin-left: 85px; color: white;">690 ₽</p>
      </a>
    </div>
    <div class="Ikonka_tovara10">
      <a href="index_IT10.html">
        <img src="pirozhnoe2.jpg" class="pirozhnoe2">
        <p style="font-family: cursive; font-weight: bolder; font-size: 18px; text-align: center; color: white;">пирожное "Ягодка"</p>
        <p style="font-family: sans-serif; font-weight: bolder; font-size: 24px; margin-left: 85px; color: white;">790 ₽</p>
      </a>
    </div>
    <div class="Ikonka_tovara11">
      <a href="index_IT11.html">
        <img src="pirozhnoe3.jpg" class="pirozhnoe3">
        <p style="font-family: cursive; font-weight: bolder; font-size: 18px;  text-align: center; color: white;">пирожное "Орео"</p>
        <p style="font-family: sans-serif; font-weight: bolder; font-size: 24px; margin-left: 85px; color: white;">890 ₽</p>
      </a>
    </div>
    <div class="Ikonka_tovara12">
      <a href="index_IT12.html">
        <img src="pirozhnoe4.jpg" class="pirozhnoe4">
        <p style="font-family: cursive; font-weight: bolder; font-size: 18px; text-align: center; color: white;">пирожное "Печенье"</p>
        <p style="font-family: sans-serif; font-weight: bolder; font-size: 24px; margin-left: 85px; color: white;">790 ₽</p>
      </a>
    </div>
    <div class="Ikonka_tovara13">
      <a href="index_IT13.html">
        <img src="pirozhnoe5.jpg" class="pirozhnoe5">
        <p style="font-family: cursive; font-weight: bolder; font-size: 18px; text-align: center; color: white;">пирожное "Шоколадное"</p>
        <p style="font-family: sans-serif; font-weight: bolder; font-size: 24px; margin-left: 85px; color: white;">890 ₽</p>
      </a>
    </div>
    <div class="Ikonka_tovara14">
      <a href="index_IT14.html">
        <img src="pirozhnoe6.jpg" class="pirozhnoe6">
        <p style="font-family: cursive; font-weight: bolder; font-size: 18px; text-align: center; color: white;">пирожное "Роза"</p>
        <p style="font-family: sans-serif; font-weight: bolder; font-size: 24px; margin-left: 85px; color: white;">790 ₽</p>
      </a>
    </div>
    <div class="Ikonka_tovara15">
      <a href="index_IT15.html">
        <img src="pirozhnoe7.jpg" class="pirozhnoe7">
        <p style="font-family: cursive; font-weight: bolder; font-size: 18px; text-align: center; color: white;">пирожное "Новогоднее"</p>
        <p style="font-family: sans-serif; font-weight: bolder; font-size: 24px; margin-left: 85px; color: white;">990 ₽</p>
      </a>
    </div>
    <div class="Ikonka_tovara16">
      <a href="index_IT16.html">
        <img src="pirozhnoe8.jpg" class="pirozhnoe8">
        <p style="font-family: cursive; font-weight: bolder; font-size: 18px; text-align: center; color: white;">пирожное "Изумруд"</p>
        <p style="font-family: sans-serif; font-weight: bolder; font-size: 24px; margin-left: 85px; color: white;">890 ₽</p>
      </a>
    </div>
  </body>
</html>
