<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <title>rumbabacake | макарон на заказ</title>
    <meta charset="utf-8">
    <meta name="keywords" content="мой сайт, html, rumbabacake, торты на заказ, торты, пирожные">
    <meta name="description" content="html, rumbabacake, торты на заказ, торты, пирожные">
    <link rel="shortcut icon" href="https://sun9-76.userapi.com/impg/NRBCmXXjP2-j9qUZTQ_DChapf0Ahu2eAtOp6iA/x7EKdLXAWDM.jpg?size=1170x1295&quality=95&sign=36ecee4aa0fdf13beab27857aa2fe212&type=album">
    <link rel="stylesheet" href="style4.css" type="text/css"/>
    <link rel="stylesheet" href="style4.css">
    <header>
      <div class="All_header_menu" style="display: flex">
        <div class="telephone_zakaz" style=",margin-left: 0px; margin-top: 23px">
          <h5>+7 (985) 123-28-16</h5>
          <h5>заказ по телефону</h5>
        </div>
        <div class="Logo" style="margin-left: 410px">
          <h1>rumbabacake</h1>
          <h5 class="undername">~ кондитерские изделия на заказ ~</h5>
        </div>
        <div class="korzina">
          <a href="korzina.html">
            <img src="trolley-cart.png" height="60px" width="60px" style="margin-top: 25px; margin-left: 520px">
          </a>
        </div>
      </div>
    </header>
  </head>

  <body>
    <div class="Top_menu">
      <ul class="spisok">
        <li><a href="index.html">торты</a></li>
        <li><a href="index3.html">пирожные</a></li>
        <li><a href="index4.html">макарон</a></li>
        <li><a href="index5.html">контакты</a></li>
        <li><a href="index6.html">доставка и самовывоз</a></li>
      </ul>
    </div>
    <div class="Ikonka_tovara17">
      <a href="index_IT17.html">
        <img src="makaron4.jpg" class="makaron1">
        <p style="font-family: cursive; font-weight: bolder; font-size: 18px; text-align: center; color: white;">макарон "4 штуки"</p>
        <p style="font-family: sans-serif; font-weight: bolder; font-size: 24px; margin-left: 85px; color: white;">390 ₽</p>
      </a>
    </div>
    <div class="Ikonka_tovara18">
      <a href="index_IT18.html">
        <img src="makaron6.jpg" class="makaron2">
        <p style="font-family: cursive; font-weight: bolder; font-size: 18px; text-align: center; color: white;">макарон "6 штук"</p>
        <p style="font-family: sans-serif; font-weight: bolder; font-size: 24px; margin-left: 85px; color: white;">490 ₽</p>
      </a>
    </div>
    <div class="Ikonka_tovara19">
      <a href="index_IT19.html">
        <img src="makaron8.jpg" class="makaron3">
        <p style="font-family: cursive; font-weight: bolder; font-size: 18px;  text-align: center; color: white;">макарон "8 штук"</p>
        <p style="font-family: sans-serif; font-weight: bolder; font-size: 24px; margin-left: 85px; color: white;">690 ₽</p>
      </a>
    </div>
    <div class="Ikonka_tovara20">
      <a href="index_IT20.html">
        <img src="makaron10.jpg" class="makaron4">
        <p style="font-family: cursive; font-weight: bolder; font-size: 18px; text-align: center;; color: white;">макарон "10 штук"</p>
        <p style="font-family: sans-serif; font-weight: bolder; font-size: 24px; margin-left: 85px; color: white;">890 ₽</p>
      </a>
    </div>
    <div class="Ikonka_tovara21">
      <a href="index_IT21.html">
        <img src="makaron14.jpg" class="makaron5">
        <p style="font-family: cursive; font-weight: bolder; font-size: 18px; text-align: center; color: white;">макарон "14 штук"</p>
        <p style="font-family: sans-serif; font-weight: bolder; font-size: 24px; margin-left: 85px; color: white;">1190 ₽</p>
      </a>
    </div>
    <div class="Ikonka_tovara22">
      <a href="index_IT22.html">
        <img src="makaron16.jpg" class="makaron6">
        <p style="font-family: cursive; font-weight: bolder; font-size: 18px; text-align: center; color: white;">макарон "16 штук"</p>
        <p style="font-family: sans-serif; font-weight: bolder; font-size: 24px; margin-left: 85px; color: white;">1390 ₽</p>
      </a>
    </div>
    <div class="Ikonka_tovara23">
      <a href="index_IT23.html">
        <img src="makaron18.jpg" class="makaron7">
        <p style="font-family: cursive; font-weight: bolder; font-size: 18px; text-align: center; color: white;">макарон "18 штук"</p>
        <p style="font-family: sans-serif; font-weight: bolder; font-size: 24px; margin-left: 85px; color: white;">1690 ₽</p>
      </a>
    </div>
    <div class="Ikonka_tovara24">
      <a href="index_IT24.html">
        <img src="makaron20.jpg" class="makaron8">
        <p style="font-family: cursive; font-weight: bolder; font-size: 18px; text-align: center; color: white;">макарон "20 штук"</p>
        <p style="font-family: sans-serif; font-weight: bolder; font-size: 24px; margin-left: 85px; color: white;">1890 ₽</p>
      </a>
    </div>
  </body>
</html>
