<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <title>rumbabacake | доставка и самовывоз</title>
    <meta charset="utf-8">
    <meta name="keywords" content="мой сайт, html, rumbabacake, торты на заказ, торты, пирожные">
    <meta name="description" content="html, rumbabacake, торты на заказ, торты, пирожные">
    <link rel="shortcut icon" href="https://sun9-76.userapi.com/impg/NRBCmXXjP2-j9qUZTQ_DChapf0Ahu2eAtOp6iA/x7EKdLXAWDM.jpg?size=1170x1295&quality=95&sign=36ecee4aa0fdf13beab27857aa2fe212&type=album">
    <link rel="stylesheet" href="style6.css" type="text/css"/>
    <link rel="stylesheet" href="style6.css">
    <header>
      <div class="All_header_menu" style="display: flex">
          <div class="telephone_zakaz" style=",margin-left: 0px; margin-top: 23px">
            <h5>+7 (985) 123-28-16</h5>
            <h5>заказ по телефону</h5>
          </div>
        <div class="Logo" style="margin-left: 410px">
          <a href="index.html"><h1>rumbabacake</h1></a>
          <a href="index.html"><h5 class="undername">~ кондитерские изделия на заказ ~</h5></a>
        </div>
        <div class="korzina">
          <a href="korzina.html">
            <img src="trolley-cart.png" height="60px" width="60px" style="margin-top: 25px; margin-left: 520px">
          </a>
        </div>
      </div>
    </header>
  </head>
  <body>
    <div class="Top_menu">
      <ul class="spisok">
        <li><a href="index.html">торты</a></li>
        <li><a href="index3.html">пирожные</a></li>
        <li><a href="index4.html">макарон</a></li>
        <li><a href="index5.html">контакты</a></li>
        <li><a href="index6.html">доставка и самовывоз</a></li>
      </ul>
    </div>
    <div class="field">
      <br><br><br><br><p style="font-family: cursive; font-weight: bolder; font-size: 34px; margin-left: 45px; color: red;">Доставка осуществляется по всей территории Москвы и Московской области.</p><br><br>
      <p style="font-family: cursive; font-weight: bolder; font-size: 30px; margin-left: 45px; color: black;">• Стоимость доставки в пределах МКАД - 200₽</p><br>
      <p style="font-family: cursive; font-weight: bolder; font-size: 30px; margin-left: 45px; color: black;">• Стоимость доставки за МКАД (1КМ=10₽) - 300₽ + оплата за каждый КМ</p><br><br>
      <p style="font-family: cursive; font-weight: bolder; font-size: 34px; margin-left: 45px; color: red;">Самовывоз осуществляется по адресу:</p><br><br>
      <p style="font-family: cursive; font-weight: bolder; font-size: 30px; margin-left: 45px; color: black;">• Москва, пос. Марушкинское, дер. Марушкино, Садовая улица 25</p>
    </div>
  </body>
</html>
